body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.menu-div{
width: 350px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.menu-img{
  width: 100%;
  height: 200px;
  border-radius: 20px;
}
.title-price-div{
  display: flex;
  justify-content:space-between ;
}
.categories-div{
  display: flex;
  justify-content:center;
}
.categories-div p{
  background-color: rgb(178, 228, 78);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 20px;
   margin-left: 20px;
}
.title-price-div p{
   background-color: rgb(178, 228, 78);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.top-heading{
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid rgb(178, 228, 78);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
  margin: 40px;
  font-size: 40px;
}
.main-menu{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
}
.desc-text{
  color: rgb(92, 128, 22);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 0;
  padding-top: 1rem;
  margin-bottom: 1.25rem;
}